.Button {
    &:disabled {
        opacity: 0.7;
        cursor: default;
    }

    &:not(&:disabled):hover {
        opacity: 0.7;
    }
}

@mixin clear {
    outline: none;
    border: none;
    background: transparent;
}

.clear {
    @include clear;
}

.clearInverted {
    @include clear;

    color: var(--inverted-primary-color);
}

.outline,
.outlineRed {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
    border-radius: 5px;
    padding: 9px 14px;
}

.outlineRed {
    border-color: var(--red-light);
    color: var(--red-light);
}

.background {
    padding: 10px 15px;
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
    border-radius: 5px;
}

.backgroundInverted {
    padding: 10px 15px;
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
    border-radius: 5px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font-size: var(--font-size-m);
}

.size_l {
    font-size: var(--font-size-l);
}

.size_xl {
    font-size: var(--font-size-xl);
}
