.DropDown {
    display: flex;
}

.items {
    background: var(--card-bg);
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    display: flex;
}

.item {
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    min-width: 100%;
}
