@import "../../../app/styles/mixins";

.InputWrapper {
    @include form-field;
}

.placeholder {
    @include form-field-text;
}

.input {
    width: 100%;
    border: none;
    padding: 5px 0;
    background: transparent;
    color: transparent;
    text-shadow: 0 0 0 var(--primary-color);
    font-family: monospace !important;
}

.caretWrapper {
    @include form-field-main;
}

.caret {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 9px;
    height: 3px;
    background: var(--primary-color);
    animation: blink 0.7s forwards infinite;
}

.readonly {
    .caretWrapper {
        opacity: 0.8;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.025;
    }

    100% {
        opacity: 1;
    }
}
