@import "../../../app/styles/mixins";

.wrapper {
    @include form-field-main;
}

.btn {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}

.options {
    // width: 100%;
    background: var(--listbox-bg);
    position: absolute;
    z-index: 99999;
    font-size: 13px;
    font-weight: 600;
}

.item {
    padding: 5px 10px;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.8;
    cursor: default;
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}

.label {
    @include form-field-text;
}
