@import "../../../app/styles/mixins";

.wrapper {
    @include form-field-main;

    position: relative;
}

.btn {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
}

.options {
    width: 100%;
    background: var(--listbox-bg);
    position: absolute;
    z-index: 99999;
    font-size: 13px;
    font-weight: 600;

    // box-shadow: 4px 4px 8px var(--listbox-bg);

    &.bottom {
        top: 100%;
    }

    &.top {
        bottom: 100%;
    }
}

.item {
    padding: 5px 10px;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.disabled {
    opacity: 0.8;
    cursor: default;
}

.optionsTop {
    bottom: 100%;
}

.optionsBottom {
    top: 100%;
}

.label {
    @include form-field-text;
}
