.app.dark {
    --bg-color: blue;
    --inverted-bg-color: silver;
    --primary-color: fuchsia;
    --secondary-color: violet;
    --inverted-primary-color: red;
    --inverted-secondary-color: royalblue;
}
