.Navbar {
    width: 100%;
    height: var(--navbar-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
    background: var(--inverted-bg-color);
}

.link {
    margin-right: 40px;
}
