.Flex {
    display: flex;
}

.justify {
    justify-content: flex-start;

    &Start {
        justify-content: flex-start;
    }

    &Center {
        justify-content: center;
    }

    &End {
        justify-content: flex-end;
    }

    &Between {
        justify-content: space-between;
    }
}

.align {
    &Start {
        align-items: flex-start;
    }

    &Center {
        align-items: center;
    }

    &End {
        align-items: flex-end;
    }
}

.direction {
    &Row {
        flex-direction: row;
    }

    &Column {
        flex-direction: column;
    }
}

.gap {
    &_4 {
        gap: 4px;
    }

    &_8 {
        gap: 8px;
    }

    &_16 {
        gap: 16px;
    }

    &_32 {
        gap: 32px;
    }
}

.max {
    width: 100%;
}
