.ProfileCard {
    max-width: 520px;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    margin-bottom: 10px;
}

.avatarWrapper {
    margin-bottom: 20px;
}

.editing {
    border-color: var(--inverted-primary-color);
}
