.ProfileCard {
    max-width: 520px;
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.body {
    margin-top: 10px;
}

.input {
    margin-bottom: 10px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatarWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.editing {
    border-color: var(--inverted-primary-color);
}
