.DropDown {
    position: relative;
    display: flex;
}

.btn {
    background: none;
    padding: 0;
    border: none;
}

.items {
    background: var(--card-bg);
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    display: flex;
}

.item {
    white-space: nowrap;
    text-align: left;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
}

.active {
    background: var(--inverted-primary-color);
}

.optionsTopLeft {
    bottom: 100%;
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    left: 0;
}

.optionsBottomLeft {
    top: 100%;
    right: 0;
}

.optionsBottomRight {
    top: 100%;
    left: 0;
}
